<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main">
    <div class="container">
        <form action="/users/login" method="POST">
            <img src="../images/dp.png" alt="Profile Picture">
            <p>Username or Email</p>
            <input type="text" name="username" placeholder="Enter username or email" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter password" required>
            <button type="submit">Login</button>
        </form>
        <a href="/users/register">Don't have an account? Register here</a>
    </div>
</div>
<script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('/users/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, password }),
                });

                if (response.ok) {
                    const data = await response.json();
                    document.cookie = `accessToken=${data.accessToken}; path=/;`;
                    window.location.href = '/users/flights';
                } else {
                    const error = await response.json();
                    alert(`Login failed: ${error.message}`);
                }
            } catch (error) {
                console.error('Error during login:', error);
                alert('Login failed');
            }
        });
    </script>
</body>
</html>
